src/main/axis2/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://se/umu/cs/ht15/ens15bsf/soap/types/"
        xmlns:ns="http://se/umu/cs/ht15/ens15bsf/soap"
        name="MessageAccessorService"
        targetNamespace="http://se/umu/cs/ht15/ens15bsf/soap">

    <!-- ## types ## -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://se/umu/cs/ht15/ens15bsf/soap/types/">
            <!-- String for topics name, messages ID and so on -->
            <xsd:element name="stringInput" type="xsd:string"/>

            <!-- List of string for outputs -->
            <xsd:element name="listOfString">
                <xsd:simpleType>
                    <xsd:list itemType="xsd:string"></xsd:list>
                </xsd:simpleType>
            </xsd:element>


            <!-- Map messages ID = timestamps -->
            <xsd:complexType name="mapItem">
                <xsd:all>
                    <xsd:element name="key" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:long"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:element name="map">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:mapItem"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="arrayOfByte">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="item" type="xsd:byte" maxOccurs="4194303" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Message as define in the interfaces.jar -->
            <xsd:element name="messageObject">
                <xsd:complexType>
                    <xsd:attribute type="xsd:string" name="messageID"/>
                    <xsd:attribute type="xsd:string" name="messageSender"/>
                    <xsd:attribute type="xsd:string" name="messageTopic"/>
                    <xsd:attribute type="xsd:long" name="messageTimestamp"/>
                    <xsd:attribute type="xsd:string" name="messageContent"/>
                    <xsd:attribute type="xsd:base64Binary" name="messageAttachements"/>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <!-- ## messages ## -->

    <!-- request : list of messages -->
    <wsdl:message name="listMessagesRequest">
        <wsdl:part name="topicName" element="tns:stringInput"/>
    </wsdl:message>
    <!-- response : list of messages -->
    <wsdl:message name="listMessagesResponse">
        <wsdl:part name="listMessages" element="tns:listOfString"/>
    </wsdl:message>

    <!-- request : list of messages with timestamps -->
    <wsdl:message name="listMessagesWithTimestampsRequest">
        <wsdl:part name="topicName" element="tns:stringInput"/>
    </wsdl:message>
    <!-- response : list of messages with timestamps -->
    <wsdl:message name="listMessagesWithTimestampsResponse">
        <wsdl:part name="messagesAndTimestamps" element="tns:map"/>
    </wsdl:message>

    <!-- request : list of topics -->
    <wsdl:message name="listTopicsRequest">
    </wsdl:message>
    <!-- response : list of topics -->
    <wsdl:message name="listTopicsResponse">
        <wsdl:part name="listTopics" element="tns:listOfString"/>
    </wsdl:message>

    <!-- request : post message -->
    <wsdl:message name="postMessageRequest">
        <wsdl:part name="message" element="tns:messageObject"/>
    </wsdl:message>
    <!-- response : post message -->
    <wsdl:message name="postMessageResponse">
    </wsdl:message>

    <!-- request : retrieve messages -->
    <wsdl:message name="retrieveMessageRequest">
        <wsdl:part name="messageID" element="tns:stringInput"/>
    </wsdl:message>
    <!-- response : retrieve messages -->
    <wsdl:message name="retrieveMessageResponse">
        <wsdl:part name="message" element="tns:messageObject"/>
    </wsdl:message>


    <!-- ## interfaces ## -->
    <wsdl:portType name="MessageAccessorPort">
        <!-- List messages -->
        <wsdl:operation name="listMessages">
            <wsdl:input message="ns:listMessagesRequest"/>
            <wsdl:output message="ns:listMessagesResponse"/>
        </wsdl:operation>

        <!-- List messages with Timestamps -->
        <wsdl:operation name="listMessagesWithTimestamps">
            <wsdl:input message="ns:listMessagesWithTimestampsRequest"/>
            <wsdl:output message="ns:listMessagesWithTimestampsResponse"/>
        </wsdl:operation>

        <!-- List topics -->
        <wsdl:operation name="listTopics">
            <wsdl:input message="ns:listTopicsRequest"/>
            <wsdl:output message="ns:listTopicsResponse"/>
        </wsdl:operation>

        <!-- Post message -->
        <wsdl:operation name="postMessage">
            <wsdl:input message="ns:postMessageRequest"/>
            <wsdl:output message="ns:postMessageResponse"/>
        </wsdl:operation>

        <!-- Retrieve message -->
        <wsdl:operation name="retrieveMessage">
            <wsdl:input message="ns:retrieveMessageRequest"/>
            <wsdl:output message="ns:retrieveMessageResponse"/>
        </wsdl:operation>

    </wsdl:portType>

    <!-- bindings -->
    <wsdl:binding name="MessageAccessorHTTPBinding" type="ns:MessageAccessorPort">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>

        <!-- list of message binding -->
        <wsdl:operation name="listMessages">
            <soap:operation
                    soapAction="http://se/umu/cs/ht15/ens15bsf/soap/listMessage"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- list messages with timestamps -->
        <wsdl:operation name="listMessagesWithTimestamps">
            <soap:operation
                    soapAction="http://se/umu/cs/ht15/ens15bsf/soap/listMessageWithTimestamps"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- list topics -->
        <wsdl:operation name="listTopics">
            <soap:operation
                    soapAction="http://se/umu/cs/ht15/ens15bsf/soap/listTopics"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- post messages -->
        <wsdl:operation name="postMessage">
            <soap:operation
                    soapAction="http://se/umu/cs/ht15/ens15bsf/soap/postMessage"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- retrieve message -->
        <wsdl:operation name="retrieveMessage">
            <soap:operation
                    soapAction="http://se/umu/cs/ht15/ens15bsf/soap/retrieveMessage"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <!-- services -->
    <wsdl:service name="MessageAccessorService">
        <wsdl:port binding="ns:MessageAccessorHTTPBinding" name="MessageAccessorServiceSOAP">
            <soap:address
                    location="http://localhost:8080/axis2/services/MessageAccessorService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
